sourcecode_n8n/Life-OS_ Daily Briefing.json
{
  "name": "Life-OS: Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        0
      ],
      "id": "a4533f76-c330-4619-a3df-693818f96d49",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "activity_logs",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "logged_date",
              "condition": "eq",
              "keyValue": "={{ $now.setZone('Asia/Jakarta').toISODate() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "c7a90001-ebea-40ea-91c1-0b2e26b1ccf6",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4PxgsDFYl0pf8lxq",
          "name": "Supabase account punyaafin"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "financial_logs",
        "filters": {
          "conditions": [
            {
              "keyName": "transaction_date",
              "condition": "eq",
              "keyValue": "={{ $now.setZone('Asia/Jakarta').toISODate() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "34383e77-3bc7-4e6f-b94b-664b07d26e4d",
      "name": "Get many rows1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "4PxgsDFYl0pf8lxq",
          "name": "Supabase account punyaafin"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. MENGAMBIL SEMUA BARIS DATA AKTIVITAS (Menggunakan .all())\nconst allActivities = $('Get many rows').all() || [];\n\n// Inisialisasi variabel untuk data umum\nlet steps = 0;\nlet codingHours = 0;\nlet screenTime = 0;\nlet restingHeartRate = null;\nlet stressLevelScore = null;\n\n// Array khusus untuk menampung semua sesi tidur yang ditemukan\nconst sleepSessions = [];\n\nif (allActivities.length > 0) {\n  // Ambil data non-tidur dari baris pertama saja agar tidak ganda\n  const primaryData = allActivities[0].json || {};\n  steps = primaryData.steps_count || 0;\n  codingHours = primaryData.wakatime_coding_hours || 0;\n  screenTime = primaryData.screen_time_minutes || 0;\n  restingHeartRate = primaryData.resting_heart_rate;\n  stressLevelScore = primaryData.stress_level_score;\n\n  // Loop semua baris untuk mencari dan memisahkan setiap sesi tidur\n  for (const row of allActivities) {\n    const data = row.json || {};\n    let sleepMinutes = data.sleep_duration_minutes || 0;\n    \n    // Jika menit durasi 0, hitung manual dari session_start & session_end\n    if (sleepMinutes === 0 && data.session_start && data.session_end) {\n      const start = new Date(data.session_start);\n      const end = new Date(data.session_end);\n      sleepMinutes = Math.round((end - start) / (1000 * 60));\n    }\n\n    // Hanya masukkan ke list jika ada tipe tidur atau durasi tidurnya valid\n    if (data.sleep_type || sleepMinutes > 0) {\n      const type = data.sleep_type || 'Tidur';\n      const deepSleep = data.deep_sleep_minutes;\n\n      // Pengondisian ideal: Gabungkan deep sleep ke dalam baris tipe tidur jika datanya ada dan tidak 0\n      if (deepSleep !== null && deepSleep !== undefined && deepSleep > 0) {\n        sleepSessions.push(`- Status Tidur: ${type} (${sleepMinutes} menit, Nyenyak: ${deepSleep} menit)`);\n      } else {\n        sleepSessions.push(`- Status Tidur: ${type} (${sleepMinutes} menit)`);\n      }\n    }\n  }\n}\n\n// 2. MENGAMBIL DAN MENGHITUNG DATA KEUANGAN (Node Saat Ini)\nconst financialData = $input.all();\nlet totalPengeluaran = 0;\nlet totalPemasukan = 0;\n\nfor (const item of financialData) {\n  if (item.json.amount) {\n    if (item.json.transaction_type === \"EXPENSE\") {\n      totalPengeluaran += item.json.amount;\n    } else if (item.json.transaction_type === \"INCOME\") {\n      totalPemasukan += item.json.amount;\n    }\n  }\n}\n\n// 3. MENYUSUN OUTPUT PROMPT\nconst promptLines = [\n  `Data Hari Ini:`,\n  `- Langkah kaki: ${steps} langkah`,\n  `- Jam Coding: ${codingHours} jam`,\n  `- Waktu Layar: ${screenTime} menit`\n];\n\n// Masukkan semua data tidur yang sudah dipisah ke dalam prompt\nif (sleepSessions.length > 0) {\n  promptLines.push(...sleepSessions);\n} else {\n  promptLines.push(`- Status Tidur: Tidak ada data tidur`);\n}\n\n// Pengondisian dinamis untuk Heart Rate dan Stress Level (jika tidak null)\nif (restingHeartRate !== null && restingHeartRate !== undefined) {\n  promptLines.push(`- Detak Jantung Istirahat: ${restingHeartRate} bpm`);\n}\n\nif (stressLevelScore !== null && stressLevelScore !== undefined) {\n  promptLines.push(`- Tingkat Stres: ${stressLevelScore}/100`);\n}\n\n// Tambahkan data keuangan di bagian akhir\npromptLines.push(`- Total Pemasukan: Rp${totalPemasukan.toLocaleString('id-ID')}`);\npromptLines.push(`- Total Pengeluaran: Rp${totalPengeluaran.toLocaleString('id-ID')}`);\n\n// Menggabungkan semua baris menjadi satu string teks\nconst promptData = promptLines.join('\\n');\n\nreturn [{\n  json: {\n    raw_prompt: promptData\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "57e48b4b-2484-4b32-b2e5-618229699e64",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"llama-3.1-8b-instant\",\n    \"temperature\": 0.5,\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"Anda adalah 'The Strategist', asisten AI eksklusif untuk Afin, seorang Web Developer dan mahasiswa Informatika. Tugas Anda adalah menganalisis data harian dan memberikan 'Daily Briefing' yang dilakukan di malam hari. Berikan ulasan singkat maksimal 2 paragraf. Berikan apresiasi jika jam coding tinggi, tegur dengan elegan jika langkah kaki di bawah 5000 (ingatkan bahaya duduk terlalu lama bagi programmer), dan ulas secara objektif pengeluarannya hari ini. Sesekali, hubungkan saran Anda dengan fokus pengembangan ekosistem digital atau penyelesaian project. Gunakan bahasa Indonesia yang profesional, berwibawa, namun tetap suportif. JANGAN gunakan format markdown berlebihan.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": $json.raw_prompt\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        0
      ],
      "id": "b94c3274-8f36-4d37-81e2-a1d327dc0dab",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RYYFBjZv631hD3qo",
          "name": "Header Auth account punyaafin"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://70xb3vp.waha.bocindonesia.com/api/sendText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "waha_ZXSGhjRAJ9j8pc6aeb1RTlC1VHMxqv4w"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"chatId\": \"222788627513504@lid\",\n    \"text\": \"🌙 *PROACTIVE DAILY BRIEFING*\\n\\n\" + $json.choices[0].message.content,\n    \"session\": \"default\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        0
      ],
      "id": "7d8028a4-19d6-428c-bdc8-50057f59e204",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RYYFBjZv631hD3qo",
          "name": "Header Auth account punyaafin"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "timezone": "Asia/Jakarta",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "77adb586-a5c6-42cc-a033-4ec079ec55bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb4ec7fed4887f4cc81d7810d7b72ed88c4ac7714b865ebd1438277ded8f8e8b"
  },
  "nodeGroups": [],
  "id": "Hm8F44WeR5wozFqV",
  "tags": []
}